<div class="logo">
  <img src="assets/Logo.png">
</div>
<header>
  <nav>
    <ul>
      <li><a routerLink="/sales">Sales</a></li>
      <li><a routerLink="/viewinventory">View Inventory</a></li>
      <li><a routerLink="/viewcustomers">View Customers</a></li>
      <li><a routerLink="/addcustomer">Add Customer</a></li>
      <li><a routerLink="/processreturn">Process Return</a></li>
      <li><a routerLink="/giftcard">Gift Card</a></li>
      <button (click)="logout()">Log-Out</button>
    </ul>
  </nav>
</header>
