<div class="middle-column">
    <h2>Proposed Sale Summary</h2>
    <div class="summary-details">
        <!-- Display item total -->
        <p>Item total: {{ saleService.salesTotal| number }}</p>
        <p>Discount Amount: {{ saleService.discountedTotal| number }}</p>

        <!-- Display sales tax -->
        <p>Sales tax (12.5%): {{ ((saleService.salesTotal-saleService.discountedTotal)*0.125).toFixed(2) | number }}</p>
        <!-- Display final total -->
        <p>Final total: {{ (saleService.salesTotal-saleService.discountedTotal) + (saleService.salesTotal-saleService.discountedTotal)*0.125| number }}</p>
        <p>Current Cart: </p>
        <ul>
            <li *ngFor="let product of saleService.cartItems">
                ID: {{ product.ProductID }}, Name: {{ product.ProductName }}, Selling Price: {{ product.SellingPrice | number }}
            </li>
        </ul>
    </div>
</div>